version: '3.9'

services:
  discord-music-bot:
    container_name: discord-music-bot
    build:
      context: .
      dockerfile: Dockerfile
    image: discord-music-bot:${GIT_SHA:-latest}
    restart: always
    network_mode: host
    env_file:
    - .env